doctype html
html(lang="en")
  head
    title Home
    link(rel='stylesheet', href='node_modules/angular-material/angular-material.min.css')
    link(rel='stylesheet', href='assets/stylesheets/style.css')
  body(ng-app='myApp')
    div(ui-view='')
  script(type='text/javascript', src='vendor.min.js')
  script(type='text/javascript', src='main.js')